@model IEnumerable<MeetingSignIn.Models.Person>

@{
    ViewBag.Title = "ShowMeeting";
}
@using MeetingSignIn.Models;
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>


    <h2>Meeting Introduction</h2>

    <h2 id="test">@Html.Encode(ViewData["alias"]) </h2>

    <table>
        <tr>
            <td>
                <h3 style="text-align:center">Member Name</h3>
                <div style="text-align:center;width:300px;height:auto">
                    
                    @foreach (var item in ViewData["persons"] as List<string>)
                    {
                        <p>@item</p>
                    }
                </div>
            </td>

            <td style="width:500px;text-align:center">
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner" >
                        @foreach (var item in ViewData["newest"] as List<Person>)
                        {
                            <div class="item">
                                <h3>Person information</h3>
                                <div>
                                    <div style="float:left;width:49%;text-align:right">
                                        <img src=@((ViewData["newest"] as Person).Photo) width="120" height="180" alt="照片" />
                                        @*<img src="~/Content/c8ea15ce36d3d5394b6361c33887e950352ab050.jpg" width="80" height="120" alt="照片" />*@
                                    </div>
                                    <div style="float:right;width:49%;text-align:left">
                                        <h4 style="width:400px"><strong>AliasName:</strong></h4>
                                        <p style="width:400px">@item.Alias</p>
                                        <h4 style="width:400px"><strong>department:</strong></h4>
                                        <p style="width:400px">@item.DepartMent</p>
                                    </div>
                                </div>
                                <div style="float:right">
                                    <h4 style="text-align:left;width:400px;"><strong>Information:</strong></h4>
                                    <p style="word-wrap: break-word; word-break: break-all;width:300px;text-align:left">@item.Infomation</p>
                                </div>
                            </div>
                        }
                        
                        
                    </div>
                    <a class="carousel-control left" href="#myCarousel"
                       data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#myCarousel"
                       data-slide="next">&rsaquo;</a>
                </div>
            </td>
        </tr>
    </table>
    
    <script>
        
        $().ready(function () {

            $($($(".carousel-inner").children()).get(0)).addClass("active");
            setInterval(function () { $.post("ShowMeeting", { alias: $('#test').text() }, function (data) { }) }, 3000);
        })
    </script>
</body>
</html>